header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px ;
    gap: 20px;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.header__link {
    position: relative;
    list-style-type: circle;
    text-decoration: underline;
}

.header__link_active {
    list-style: none;
    text-decoration: none;
}

.logo img {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    line-height: 24.3px;
    font-size: 18px;   
}
.header_address {
    margin-left: 184px;
    font-style: normal;
}

.address a {
    color: black; 
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 165px 50px 50px 50px;
    text-align: center;
    margin: 0 0 180px;
    min-height: 757px;
}

.cover_title,
.cover .description {
    position: relative;
    z-index: 2;
}

.cover_title {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    line-height: 130px;
    letter-spacing: 30px;
}

.word {
    display: block;
}

.word.top {
    position: relative;
    text-align: left;
}

.word.middle {
    position: relative;
    text-align: center;
}

.word.bottom {
    position: relative;
    text-align: right;
    margin-right: -20px;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 90px;
    margin-top: 100px;
}

.subheading {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    word-spacing: 20px;
}

.button {
    display: inline-block;
    margin-right: 0;
    width: 256px;
    min-height: 51px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.lots {
    margin: 180px auto 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 1052px;
}

.lots h1 {
    line-height: 100%;
    font-weight: 700;
    font-size: 40px;
    color: black;
    align-self: flex-start;
    margin-left: 40px;
}

.lot-list {
    margin-top: 24px;
    display: flex;
    gap: 25px;
}

.product {
    position: relative;
    min-height: 596px;
    width: 334px;
    padding: 48px 40px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.lot_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.lot_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.lot_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.product h2 {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    line-height: 120%;
}

.product p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 120%;
}

.view-more {
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 40px;
    
}

.view-more a {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.about-auction {
    margin: 120px auto 180px;
    width: 1052px;
}

.column-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;
}

.black_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin: 35px 0 0 47px;
}

.circle img {
    width: 148px;
    height: 114px;
}

.about_text h3 {
    margin: 133px 0 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

footer {
    margin-top: 180px;
    padding: 0 50px 0 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    margin: 0 auto;
}

.footer-address {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    margin-left: 0px;
    letter-spacing: 0%;
}

.footer-menu {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-left: 200px;
}

.footer__link {
    position: relative;
    list-style: none; 
    text-decoration: underline;
}

.footer__link_active {
    text-decoration: none;
}

.footer-social-links {
    display: flex;
    justify-content: flex-end;
}

.social-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin-left: 48px;
}

.social-links li img {
    width: 48px;
    height: 48px;
}
